{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

{% block body %}

    <!-- NAVBAR -->
    {% include '_navbar.html.twig' %}
    <!------------>

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 col-md-2 sidebar">

                <!-- SIDEBAR -->
                {% if account is defined %}
                    {{ render(controller('MailerAppBundle:App:sidebar', {accountId: account.id})) }}
                {% else %}
                    {{ render(controller('MailerAppBundle:App:sidebar')) }}
                {% endif %}
                <!------------->

            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div class="js-alert-box"></div>

                <!-- CONTENT -->
                {% block content %}
                {% endblock %}
                <!------------->

            </div>

        </div>
    </div>

{% endblock %}