{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} &middot; Add Account{% endblock %}

{% block content %}

    <div class="panel panel-success padded-box">
        <div class="panel-heading">
            <h3 class="panel-title">Add Imap-Account</h3>
        </div>
        <div class="panel-body">

            <form method="post" id="form-add-account">

                <div class="form-group">
                    <label for="input-title">Title</label>
                    <input type="text" class="form-control" id="input-title" name="title">
                </div>

                <div class="form-group">
                    <label for="input-server">Server</label>
                    <input type="text" class="form-control" id="input-server" name="server">
                </div>

                <div class="form-group">
                    <label for="input-username">Username</label>
                    <input type="text" class="form-control" id="input-username" autocomplete="false" name="username">
                </div>

                <div class="form-group">
                    <label for="input-password">Password</label>
                    <input type="password" class="form-control" id="input-password" autocomplete="false"
                           name="password">
                </div>

                <div class="form-group">
                    <label for="input-port">Port</label>
                    <input type="text" class="form-control" id="input-port" name="port">
                </div>

                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="secure" id="option1" autocomplete="off" checked> Secure
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" id="option2" autocomplete="off"> Unsecure
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Submit</button>

            </form>

        </div>
    </div>

{% endblock %}