{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} &middot; Show Mail{% endblock %}

{% block content %}

    <div class="mail-head">
        <table>
            <tr>
                <th>From</th>
                <td>{{ mail.sender }}</td>
            </tr>
            <tr>
                <th>To</th>
                <td>{{ mail.account.email }}</td>
            </tr>
        </table>
    </div>

{% endblock %}